# Ignore bundler config.
/.bundle

# Gemfile.lock is useless here.  Github updates their gem as they see fit.
Gemfile.lock

# Text editor trash.
.idea
*.iml
.*.swp

# Ignore artifacts
/vendor/bundle
/vendor/cache
_site/
.sass-cache/
.jekyll-metadata



